import { get } from "@parameter1/base-cms-object-path";

$ const { newsletter, date } = data;

<common-new-standard-layout data=data>
  <@body>
    <common-content-economic-outlook-block
      date=date
      newsletter=newsletter
    />
  </@body>
</common-new-standard-layout>
