import { get } from "@parameter1/base-cms-object-path";

$ const { newsletter, date } = data;

<common-simple-top-ad-layout data=data>
  <@body>
    <common-simple-economic-outlook-block
      date=date
      newsletter=newsletter
    />
  </@body>
</common-simple-top-ad-layout>
