<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        @font-face {
          font-family: 'Arial Narrow Bold';
          src: url('fonts/Arial Narrow Bold/Arial Narrow Bold.woff2') format('woff2'),
              url('fonts/Arial Narrow Bold/Arial Narrow Bold.woff') format('woff'),
              url('fonts/Arial Narrow Bold/Arial Narrow Bold.ttf')  format('truetype');
        }
    </style>
  </head>
</html>
